amqp==5.3.1
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
billiard==4.2.4
boto3==1.42.91
botocore==1.42.91
cbor2==5.9.0
celery==5.3.6
certifi==2026.2.25
cffi==2.0.0
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.4.7
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.7
daphne==4.1.2
distro==1.9.0
dj-database-url==3.1.2
Django==6.0.4
django-cors-headers==4.9.0
django-filter==24.2
django-storages==1.14.3
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
gunicorn==22.0.0
google-auth==2.30.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
inflection==0.5.1
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
msgpack==1.1.2
numpy==2.4.4
openai==1.30.1
packaging==26.1
pdfminer.six==20231228
pdfplumber==0.11.0
pgvector==0.2.5
pillow==12.2.0
prompt_toolkit==3.0.52
psycopg==3.3.3
psycopg-binary==3.3.3
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.2
pydantic_core==2.46.2
PyJWT==2.12.1
pyOpenSSL==26.0.0
pypdf==4.2.0
pypdfium2==5.7.0
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.3
redis==5.0.1
requests==2.32.3
referencing==0.37.0
rpds-py==2026.5.1
s3transfer==0.16.0
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.5
supervisor==4.3.0
tqdm==4.67.3
Twisted==25.5.0
txaio==25.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
ujson==5.12.0
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
zope.interface==8.3